.DS_Store
/index.js
/index.js.map
.vscode

# Yarn
yarn-error.log
node_modules/
.pnp/
.pnp.js

# Yarn Integrity file
.yarn-integrity

# yarn v2, v3
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
